src/logicApp/StartCopyFile/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Initialize_variable_filename": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "filename",
                            "type": "string",
                            "value": "@triggerBody()?['filename']"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['operation']",
                                "function"
                            ]
                        }
                    ]
                },
                "actions": {
                    "HTTP": {
                        "type": "Http",
                        "inputs": {
                            "method": "POST",
                            "uri": "@appsetting('function_url')",
                            "body": {
                                "filename": "@variables('filename')"
                            }
                        },
                        "runAfter": {},
                        "operationOptions": "DisableAsyncPattern"
                    }
                },
                "runAfter": {
                    "Initialize_variable_filename": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {
                        "Create_a_pipeline_run": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "referenceName": "azuredatafactory"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "filename": "@variables('filename')"
                                },
                                "path": "/subscriptions/@{encodeURIComponent('abd9e36a-555c-4de4-a75d-cfc1682d67b0')}/resourcegroups/@{encodeURIComponent('rg-logic-app-pattern')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('data-factory-7iswrpc4bjram')}/pipelines/@{encodeURIComponent('CopyPipeline')}/CreateRun",
                                "queries": {
                                    "x-ms-api-version": "2017-09-01-preview"
                                }
                            },
                            "runAfter": {}
                        }
                    }
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "filename": {
                                "type": "string"
                            },
                            "operation": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}