src/logicApp/StartCopyFile/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Initialize_variable_filename": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "filename",
                            "type": "string",
                            "value": "@triggerBody()?['filename']"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['operation']",
                                "function"
                            ]
                        }
                    ]
                },
                "actions": {
                    "HTTP": {
                        "type": "Http",
                        "inputs": {
                            "method": "POST",
                            "uri": "@appsetting('function_url')",
                            "body": {
                                "filename": "@variables('filename')"
                            }
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {
                    "Initialize_variable_filename": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "filename": {
                                "type": "string"
                            },
                            "operation": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}